.about-us {
    background: url(#{$imagesPath}/backgroud_about_us.png) no-repeat;
    background-position: center;
    height: 660px;
    background-size: cover;
    &__wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        color: #fff;
        text-transform: uppercase;
    }
    &__heading1 {
        margin: 0;
        font-size: 2em;
        font-weight: 900;
    }
    &__heading2 {
        margin: 15px 0 0;
        font-size: 2.5em;
        font-weight: 100;
    }
    &__heading-block {
        margin: 30px 0;
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, .3);
        ;
        height: 80px;
        line-height: 80px;
    }
    &__heading-block:hover {
        background-color: rgba(255, 255, 255, .5);
        ;
    }
    &__heading-link {
        @extend .link;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        font-weight: 900;
    }
    &__heading-link:hover {
        color: #fff;
    }
    &__send-application-button {
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) {
    .about-us {
        &__heading-link {
            font-size: 1.5em;
        }
    }
}

@media screen and (min-width: 768px) {
    .about-us {
        &__heading-link {
            font-size: 3em;
        }
    }
}
