.button {
    display: block;
    height: 50px;
    width: 181px;
    @extend .flex-align-items-center;
    box-sizing: border-box;
    @extend .gradient;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}