.choose-us {
    background-color: #f0f0f2;
    &__heading-wrapper {
        text-align: center;
        margin: 60px 0 80px;
    }
    &__heading2 {
        @extend .heading2;
    }
    &__blocks {
        @extend .list;
    }
    &__element {
        display: inline-block;
        text-align: center;
        margin-bottom: 65px;
    }
    &__text {
        @extend .text;
    }
    &__icon-wrapper {
        @extend .flex-align-items-center;
        border-radius: 50%;
        background-color: #fff;
        width: 160px;
        height: 160px;
        margin: 0 auto 30px;
        -webkit-justify-content: center;
        justify-content: center;
        cursor: pointer;
    }
    &__icon-wrapper:hover {
        @extend .gradient;
    }
    &__graph-icon,
    &__hands-icon,
    &__head-icon,
    &__microscope-icon {
        display: inline-block;
        background: url(#{$imagesPath}/spritesheet-choose-us.png) no-repeat;
    }
    &__icon-wrapper:hover &__graph-icon {
        background-position: -1px -0px;
        width: 66px;
        height: 65px;
    }
    &__graph-icon {
        background-position: -1px -66px;
        width: 66px;
        height: 65px;
    }
    &__icon-wrapper:hover &__hands-icon {
        background-position: -1px -132px;
        width: 66px;
        height: 66px;
    }
    &__hands-icon {
        background-position: -1px -199px;
        width: 66px;
        height: 66px;
    }
    &__icon-wrapper:hover &__head-icon {
        background-position: -1px -266px;
        width: 63px;
        height: 66px;
    }
    &__head-icon {
        background-position: -1px -333px;
        width: 63px;
        height: 66px;
    }
    &__icon-wrapper:hover &__microscope-icon {
        background-position: -1px -400px;
        width: 50px;
        height: 69px;
    }
    &__microscope-icon {
        background-position: -1px -470px;
        width: 50px;
        height: 69px;
    }
}