.footer {
    height: 70px;
    background-color: #f0f0f2;
    &__container {
        height: 100%;
    }
    &__content {
        @extend .flex-align-items-center;
        height: 100%;
    }
    &__copyright {
        text-align: right;
    }
    &__logo-link {
        display: block;
        height: 38px;
        margin: 0 auto;
        width: 127px;
    }
    &__logo-img {
        width: 100%;
    }
}