.header {
    overflow: hidden;
    &__container,
    &__content {
        overflow: hidden;
    }
    &__logo-link {
        display: block;
        height: 38px;
        margin: 0 auto;
        width: 127px;
    }
    &__logo-img {
        width: 100%;
    }
    &__contacts-list {
        list-style: none;
        text-align: center;
        font-weight: 900;
    }
    &__phone-icon,
    &__clock-icon {
        margin-right: 10px;
    }
    &__feedback-button {
        @extend .link;
    }
}

@media screen and (min-width: 320px) {
    .header {
        &__content {
            margin-top: 15px;
        }
        &__nav {
            margin: 15px 0;
        }
        &__contacts-list {
            margin-top: 10px;
        }
        &__contact-number,
        &__contact-time {
            margin: 5px 0;
        }
        &__feedback-button {
            margin-bottom: 15px;
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        &__content {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 0;
        }
        &__contact-number,
        &__contact-time {
            width: 50%;
            display: block;
            float: left;
            margin: 0;
        }
        &__feedback-button {
            margin-bottom: 0;
        }
    }
}