.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    &__content {
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        width: 30%;
        padding: 40px 0 30px;
    }
    &__heading2 {
        @extend .heading2;
        font-size: 2em;
        text-align: center;
        margin-top: 0;
    }
    &__form {
        overflow: hidden;
        text-align: center;
    }
    &__input {
        height: 40px;
        width: 80%;
        margin-bottom: 10px;
        border-style: solid;
        border-color: #f1f1f1;
        text-align: center;
        font-size: 1.167em;
        &-message {
            height: 140px;
        }
    }
    &__input::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__input:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__input:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__input:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__button {
        width: 80%;
        margin: 0 auto;
        border: none;
    }
    &__close {
        position: absolute;
        top: -20px;
        right: -20px;
        @extend .gradient;
        color: #fff;
        font-size: 2.45em;
        line-height: 42px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) {
    .modal {
        &__content {
            margin-top: 85px;
            width: 90%;
        }
    }
}

@media screen and (min-width: 550px) {
    .modal {
        &__content {
            width: 60%;
        }
    }
}

@media screen and (min-width: 768px) {
    .modal {
        &__content {
            width: 50%;
        }
    }
}

@media screen and (min-width: 992px) {
    .modal {
        &__content {
            width: 465px;
        }
    }
}