.nav {
    overflow: hidden;
    text-align: center;
    font-weight: 300;
    padding: 0 15px !important;
    &__menu-list {
        @extend .list;
    }
    &__menu-element {
        @extend .flex-align-items-center;
    }
    &__link {
        @extend .link;
        color: #000;
        text-transform: uppercase;
    }
    &__menu-button {
        width: 100%;
        font-size: 1.8em;
    }
}

@media screen and (min-width: 320px) {
    .nav {
        &__menu-list {
            display: none;
        }
        &__menu-element {
            height: 60px;
        }
        &__link:hover {
            background-color: #f5f6f9;
            color: $main-color;
        }
        &__link {
            height: 100%;
            line-height: 60px;
            width: 100%;
            display: block;
            overflow: hidden;
            font-size: 1.8em;
        }
        &__link:active {
            color: #bf2e2e;
        }
        &__home-icon {
            display: none !important;
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: 60px;
        text-align: center;
        &__menu-button {
            display: none !important;
        }
        &__menu-list {
            display: inline-block;
            height: 100%;
        }
        &__menu-element {
            float: left;
            margin: 0 15px;
        }
        &__link {
            height: auto;
            width: auto;
            display: inline-block;
            padding: 0;
            font-size: 1em;
        }
        &__link:hover {
            background-color: #fff;
            color: #000;
        }
        &__home-icon {
            display: inline-block !important;
            color: $main-color;
        }
        &__home-link {
            display: none !important;
        }
    }
}

@media screen and (min-width: 992px) {
    .nav {
        height: 70px;
        margin: 0 !important;
        padding: 0 !important;
        &__menu-element {
            height: 100%;
            margin: 0 7px;
        }
        &__menu-element:hover {
            background-color: #f5f6f9;
            border-bottom: 2px solid $main-color;
        }
    }
}