.order-landing {
    height: 530px;
    background: url(#{$imagesPath}/backgroud_order_landing.png) no-repeat;
    background-size: cover;
    &__container {
        height: 100%;
    }
    &__content {
        height: 100%;
        @extend .flex-align-items-center;
    }
    &__block {
        background-color: #fff;
        padding: 40px 30px;
    }
    &__heading2 {
        @extend .heading2;
        font-size: 2em;
        text-align: center;
        margin-top: 0;
    }
    &__form {
        text-align: center;
    }
    &__input {
        height: 40px;
        width: 80%;
        margin-bottom: 10px;
        border-style: solid;
        border-color: #f1f1f1;
        text-align: center;
        font-size: 1.167em;
    }
    &__input::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    &__input:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__input:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__input:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__input:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__button {
        width: 80%;
        margin: 0 auto;
        border: none;
    }
}