.page {
  margin: 0;
  font: $page-font;
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    text-decoration: none;
  }
  .heading2 {
    font-size: 2.667em;
    font-weight: 100;
    text-transform: uppercase;
  }
  .text {
    font-size: 1.333em;
    font-weight: 900;
    line-height: 1.5;
  }
  .transition {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .flex-align-items-center {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(92, 204, 174) 0%, rgb(52, 201, 227) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(92, 204, 174) 0%, rgb(52, 201, 227) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(92, 204, 174) 0%, rgb(52, 201, 227) 100%);
  }
}