.portfolio {
    &__container {
        text-align: center;
        margin: 65px 0;
    }
    &__heading2 {
        margin-top: 0;
        @extend .heading2;
    }
    &__text {
        @extend .text;
    }
    &__link-list {
        @extend .list;
        overflow: hidden;
    }
    &__hidden-info {
        display: none;
        width: 100%;
        height: 100%;
    }
    &__link-icon {
        display: block;
        background: url(#{$imagesPath}/link_icon.png) no-repeat;
        height: 50px;
        width: 50px;
        margin: 0 auto;
    }
    &__element1 {
        background: url(#{$imagesPath}/portfolio_img1.png) no-repeat;
    }
    &__element2 {
        background: url(#{$imagesPath}/portfolio_img2.png) no-repeat;
    }
    &__element3 {
        background: url(#{$imagesPath}/portfolio_img3.png) no-repeat;
    }
    &__element4 {
        background: url(#{$imagesPath}/portfolio_img4.png) no-repeat;
    }
    &__element5 {
        background: url(#{$imagesPath}/portfolio_img5.png) no-repeat;
    }
    &__element6 {
        background: url(#{$imagesPath}/portfolio_img6.png) no-repeat;
    }
    &__element7 {
        background: url(#{$imagesPath}/portfolio_img7.png) no-repeat;
    }
    &__element8 {
        background: url(#{$imagesPath}/portfolio_img8.png) no-repeat;
    }
    &__element-normal,
    &__element-big {
        float: left;
        background-size: cover;
        cursor: pointer;
    }
    &__element-normal:hover &__hidden-info,
    &__element-big:hover &__hidden-info {
        display: block;
    }
    &__link {
        @extend .link;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__top-info {
        @extend .flex-align-items-center;
        width: 100%;
        height: 70%;
        @extend .gradient;
        opacity: 0.8;
    }
    &__bottom-info {
        padding-top: 5%;
        width: 100%;
        height: 30%;
        background-color: rgba(255, 255, 255, .8);
        text-align: center;
    }
    &__text {
        @extend .text;
        color: $link-color;
    }
    &__author {
        font-size: 1.333em;
        font-weight: 300;
        color: $link-color;
    }
}

@media screen and (min-width: 320px) {
    .portfolio {
        &__element-normal,
        &__element-big {
            height: 335px;
        }
        &__element-normal {
            width: 100%;
        }
        &__element-big {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .portfolio {
        &__element-normal {
            width: 40%;
        }
        &__element-big {
            width: 60%;
        }
    }
}

@media screen and (min-width: 992px) {
    .portfolio {
        &__element-normal {
            width: 20%;
        }
        &__element-big {
            width: 30%;
        }
    }
}

@media screen and (min-width: 2560px) {
    .portfolio {
        &__element-normal,
        &__element-big {
            height: 550px;
        }
    }
}