.price {
    &__container {
        text-align: center;
        margin: 65px 0;
    }
    &__heading2 {
        margin-top: 0;
        @extend .heading2;
    }
    &__text {
        @extend .text;
    }
    &__block {
        width: 80%;
        margin: 10px auto 70px;
        border: 2px solid #f1f1f1;
        &-main {
            width: 85%;
            margin-top: 0;
        }
    }
    &__header {
        height: 100px;
        @extend .flex-align-items-center;
        -webkit-justify-content: center;
        justify-content: center;
        overflow: hidden;
        background-color: #f0f0f2;
        &-main {
            height: 110px;
            @extend .gradient;
        }
    }
    &__header-title {
        font-size: 2em;
        font-weight: 100;
        &-main {
            color: #fff;
        }
    }
    &__content {
        position: relative;
        height: 475px;
        padding: 0 15%;
        &-main {
            height: 485px;
        }
    }
    &__cost-block {
        @extend .flex-align-items-center;
    }
    &__number {
        border-bottom: 2px solid $main-color;
        padding: 40px 5px 40px 0;
        font-weight: 900;
        font-size: 4.5em
    }
    &__number-additionally {
        font-size: 2.5em
    }
    &__sale {
        text-transform: uppercase;
        color: $main-color;
    }
    &__services-list {
        @extend .list;
        margin-top: 40px !important;
    }
    &__service {
        text-transform: uppercase;
        font-weight: 300;
        line-height: 2.753;
    }
    &__button {
        position: absolute;
        bottom: 30px;
        width: 70%;
        height: 45px;
        line-height: 45px;
        display: block;
        border: 1px solid #000;
        overflow: hidden;
        text-align: center;
        @extend .link;
        color: $link-color;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.167em;
        &-main {
            @extend .gradient;
            color: #fff;
            border: none;
        }
    }
    &__button:hover {
        color: $link-color;
    }
    &__button-main:hover {
        color: #fff;
    }
}