.swiper-wrapper {
  height: 100%;
}

.slider {
  &__container,
  &__content {
    height: 100%;
  }
  &__content {
    @extend .flex-align-items-center;
  }
  &__slide {
    display: block;
    width: 100%;
    height: 458px !important;
    background-position: center;
    background-size: cover !important;
    color: #fff;
    &-1 {
      background: url(#{$imagesPath}/slide_1.png) no-repeat;
    }
    &-2 {
      background: url(#{$imagesPath}/slide_2.png) no-repeat;
    }
    &-3 {
      background: url(#{$imagesPath}/slide_3.png) no-repeat;
    }
    &-img {
      float: right;
    }
  }
  &__heading2 {
    text-transform: uppercase;
    font-weight: 900;
    margin: 25px 0;
  }
  &__text {
    font-size: 1.667em;
    font-weight: 100;
    line-height: 1.5;
  }
  &__details-link {
    @extend .link;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.667em;
    font-weight: 900;
  }
  &__details-link:hover {
    color: #fff;
  }
}

@media screen and (min-width: 320px) {
  .slider {
    &__slide-img {
      display: none;
    }
    &__heading2 {
      font-size: 2.333em;
    }
  }
}

@media screen and (min-width: 768px) {
  .slider {
    &__slide-img {
      display: block;
      width: 100%;
    }
    &__heading2 {
      font-size: 3.333em;
    }
  }
}

@media screen and (min-width: 992px) {
  .slider {
    &__slide-img {
      width: 80%;
      margin-right: 20%;
    }
  }
}